/* imorted Asap font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&display=swap');

/* applies to all elements, removes margin & padding. Sets box-sizing & font-family */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

/* rules for the body element */

body {
    background-color: #24272E;
    background-image: url('../images/image-of-outer-space.jpg');
}

/* rules for the header element */

header {
    background: white;
    color: #25272E;
    text-align: center;
    padding: 2rem;
}

/* rules for the modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* rules for the scoreboard area */

.scores-div {
    border: 5px solid white;
    border-radius: 5px;
    margin: 2rem auto;
    width: 20%;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    position: relative;
}

/* generic rules for the player and comp icons at each side of the scoreboard */

.icon {
    background: #E2584D;
    font-size: 1rem;
    padding: 2px 10px;
}

/* rules for the player icon */

#player-handle {
    position: absolute;
    top: 35px;
    left: -35px;
}

/* rules for the comp icon */

#computer-handle {
    position: absolute;
    top: 35px;
    right: -35px;
}

/* rules for displaying outcome */

.result {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5rem;
}

/* generic rules for the main playing area */

.main-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/* targets the divs containing the clickable icons */

.option {
    transition: all 0.5s ease;
    margin: auto;
}

.option > img {
    width: 10rem;
    height: 10rem;
    border: 4px solid white;
}

.option:hover > img {
    cursor: pointer;
    border: 5px solid lightskyblue;
}

/* the nth and last-child are used to position the icons on the grid */

.option:nth-child(1) {
    margin-right: 0;
}

.option:nth-child(2) {
    grid-row-start: 1;
    grid-column-end: 4;
    margin-left: 0;
}

.option:nth-child(3) {
    grid-row-start: 2;
    grid-column-end: 3;
}

.option:nth-child(4) {
    grid-row-start: 3;
    grid-column-end: 2;
    margin-right: 0;
}

.option:last-child {
    grid-row-start: 3;
    grid-column-end: 4;
    margin-left: 0;
}

/* adds a green shadow to the icon if it wins */

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 10px 10px 20px #31b43a;
}

/* adds a red shadow to the icon if it loses */

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 10px 10px 20px #d01115;
}

/* media query for laptops */

@media screen and (max-width: 1550px) {

    .option > img {
        width: 6rem;
        height: 6rem;
        border: 4px solid white;
    }

} 

/* Media query for mobile screens */

@media screen and (max-width: 800px) {

    header {
        font-size: .4rem;
        padding: 1rem;
    }

    .scores-div {
        border: 3px solid white;
        border-radius: 3px;
        margin: 1.5rem auto;
        width: 40%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem;
        position: relative;
    }
    
    .icon {
        background: #E2584D;
        font-size: 1rem;
        padding: 2px 10px;
    }
    
    #player-handle {
        position: absolute;
        top: 15px;
        left: -50px;
    }
    
    #computer-handle {
        position: absolute;
        top: 15px;
        right: -50px;
    }

    .result {
        font-size: 1rem;
        color: white;
        text-align: center;
        font-weight: bold;
        margin-bottom: 2.5rem;
    }

    .option > img {
        width: 4rem;
        height: 4rem;
        border: 4px solid white;
    }

}